{
    "bind_addr": "{{ ansible_default_ipv4.address }}",
    "client_addr": "0.0.0.0",
    "data_dir": "/var/lib/consul",
    "enable_syslog": false,
    "node_name": "{{ inventory_hostname }}",
    "retry_join": [{% for host in groups['consul'] %}"{{ hostvars[host].ansible_ssh_host }}"{% if not loop.last %}, {% endif %}{% endfor %}]
}
